*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background-image: url('/img/1.jpg'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.body-main{
    /* border:1px solid red; */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddd;
}
.content{
    /* border:1px solid greenyellow; */
    width: 30vw;

}

.form-check .form-check-input {
    float: unset !important;
}

#login_f{
    display: none;
}

#message{

	text-align: center;
	margin: auto;
	margin-top: 10px;
}

textarea{

	width: 100vw;
    height: 85vh;
    border-radius: 5px;
    border:1px solid black;
    box-shadow: 2px 2px 10px;
}